<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953436026738-7kk2ev9ihkuichmn3u69cuvqimi9m410.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953436026738-7kk2ev9ihkuichmn3u69cuvqimi9m410</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>953436026738-ionfm3ubc4j8ld43n2oncto63jakanfp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAE9-phs8vY7Rz2LSJsqtON9FuSZIFSMOo</string>
	<key>GCM_SENDER_ID</key>
	<string>953436026738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.freshTask1</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-46b7b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-46b7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953436026738:ios:56c050c9d36e49e8998feb</string>
</dict>
</plist>